<launch>
	<!-- Example finding 3D poses of the objects detected -->
	<!-- $ roslaunch kinect2_bridge kinect2_bridge.launch publish_tf:=true -->

	<!-- Which image resolution: sd, qhd, hd -->
	<arg name="resolution" default="qhd" />
	
	<node name="sign_recognition" pkg="pses_sign_recognition" type="sign_recognition_node" output="screen">
		<param name="gui" value="true" type="bool"/>
		<param name="session_path" value="~/catkin_ws/src/pses_sign_recognition/data/find-sign-settings.ini" type="str"/>
		<param name="objects_path" value="/home/pses/catkin_ws/src/pses_sign_recognition/data/objs/6.png" type="str"/>

	</node>
</launch>
